<ion-header>
  <ion-navbar text-center>
    <ion-title>
      EVT Routes
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only menuToggle right>
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <components-timer ></components-timer><!--The timer showing how much time has passed and should be present on all pages after the Last Known Well Page-->
</ion-header>

<ion-content no-bounce id="evt-options">


  <h4 id="treatment-heading6" style="color:#006bb6;font-size: x-large;padding-left: 5vw;">
    Routes To EVT Capable Hospitals
  </h4>
  <div *ngIf="evtSpinner" style="height: 60vh;" >
  <spinner ></spinner><!--This is the spinner component that runs until results are available-->
</div>
  <div class="card-scroll" *ngIf="evtshow" style="height: 70vh;"><!--This creates the scroll div with all of the cards and is visable after evtshow is set to true-->
    <p style="color: black;" text-center>Click on the route option for next steps</p>
  <ion-scroll scrollY="true" style="height: 70vh;"><!--This is the actual compnent for the scroll with the vh probably needing to change and horizontal scroll not enabled -->
    <div *ngIf="evtEmpty"><br><br><br><p style="font-size: large;">{{message}}</p></div><!--If there are no results returned display the error message  -->
    <ion-list justify-content-center align-items-center>
      <ion-item *ngFor="let card of cards"><!--The ngFor will iterate through all elements in cards and give each one the name card -->
        <ion-card *ngIf="card.Driving" tappable (click)="goToRoute(card)" text-wrap [style.background-color]="card.colour"><!--If it is a driving card have the ambulance picture and use the goToRoute function passing the information of the card -->
          <ion-card-content>
            <ion-grid no-padding>
              <ion-row>
                <p id="cardinfo" style="font-size: small;color: white;">
                  Patient Pickup to Destination: <b>{{card.TimeWithMultChar}}</b></p>
              </ion-row>
              <ion-row >
                <ion-col col-9 >
                  <p style="font-size: larger;color: white;"><b>{{card.name}}</b></p>
              </ion-col>
              <ion-col>
                <div style="height: 50%;"></div>
               <img src= "./assets/Travel/Ambulance.png"> 
              </ion-col>
              </ion-row>
              <ion-row>
                <p style="font-size: small;color: white;">Fastest Total Time Achieved<br>Call to Definitive care:<br>
                <span style="font-size: medium;"><b>XX:XX (n=X)</b></span></p>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
        <ion-card *ngIf="card.Helipad" tappable (click)="ComplexRoute(card)" text-wrap [style.background-color]="card.colour"><!--If the card is a helicopter route show it with the image of the helicopter and use the ComplexRoute function to diplay the route-->
          <ion-card-content>
            <ion-grid no-padding>
              <ion-row>
                <p id="cardinfo" style="font-size: small;color: white;">
                  Patient Pickup to Destination: <b>{{card.TimeWithMultChar}}</b></p>
              </ion-row>
              <ion-row >
                <ion-col col-9 >
                  <p style="font-size: larger;color: white;"><b>{{card.name}}</b></p>
              </ion-col>
              <ion-col>
                <div style="height: 50%;"></div>
               <img src= "./assets/Travel/Helecopter.png"> 
              </ion-col>
              </ion-row>
              <ion-row>
                <p style="font-size: small;color: white;">Fastest Total Time Achieved<br>Call to Definitive care:<br>
                <span style="font-size: medium;"><b>XX:XX (n=X)</b></span></p>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
        <ion-card *ngIf="card.Airport" tappable (click)="ComplexRoute(card)" text-wrap [style.background-color]="card.colour"><!--If the card is a Airport Type show the image of the airplane and use the complexRoute function to show the routes-->
          <ion-card-content>
            <ion-grid no-padding>
              <ion-row>
                <p id="cardinfo" style="font-size: small;color: white;">
                  Patient Pickup to Destination: <b>{{card.TimeWithMultChar}}</b></p>
              </ion-row>
              <ion-row >
                <ion-col col-9 >
                  <p style="font-size: larger;color: white;"><b>{{card.name}}</b></p>
              </ion-col>
              <ion-col>
                <div style="height: 50%;"></div>
               <img src= "./assets/Travel/Airplane.png"> 
              </ion-col>
              </ion-row>
              <ion-row>
                <p style="font-size: small;color: white;">Fastest Total Time Achieved<br>Call to Definitive care:<br>
                <span style="font-size: medium;"><b>XX:XX (n=X)</b></span></p>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-list>
    </ion-scroll><!--Close all of the divs exactly the same way it is done in HTML-->
    </div>
    <ion-grid style="background-color: #006bb6;">
      <ion-row>
        <ion-col col-auto>
          <p id="weather" style="background-color:#006bb6;color: white;font-size: large;padding-top: 35px;">Weather in<br><b>{{this.Data.city}}</b></p>
        </ion-col>
        <ion-col>
          <p style="font-size: x-large;color: white;padding-top: 35px;" text-center ><b>{{this.Data.origin_tempreal |number:'1.0-0'}}\u00B0C</b></p>
        </ion-col>
        <ion-col>
          <img src= {{this.Data.origin_icon}} style="vertical-align: middle; ">
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
