<ion-header>
  <ion-navbar  text-center>
    <ion-title>
      Imaging Routes
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only menuToggle right>
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <components-timer></components-timer><!--The component timer which is present on each page apart from the last known well -->
</ion-header>



<ion-content no-bounce  id="Imaging" >

  <h4 id="treatment-heading6" style="color:#006bb6;font-size: x-large;padding-left: 5vw;"><!--the header for the page with style specified  -->
 
   Routes to Imaging Capable Hospitals
  </h4>
  <spinner *ngIf="Spinner"></spinner><!--ngIF is a special ionic element that works like an if and only shows if true in this case if spinner is true it will show it -->
  <div class="card-scroll" *ngIf="show"><!--this is where the cards will be once show is set to true  -->
    <p text-center style="color: black;">Click on the route option for next steps</p>
<div *ngIf="results"><!--if there are no results this will show the error message  -->
  <br><br>
  <p style="font-size: large;">{{display}}</p>
  
</div>
    <ion-scroll scrollY="true" style="height: 53vh; color: white;" ><!--this is the actual card section which is allowed to scroll but I will need to revisit the height to have it work on more devices  -->
<ion-list justify-content-center align-items-center><!--the list of elements all put into the center -->
  <ion-item *ngFor="let card of cards" ><!--ngFor is another ionic element that allows you to iterate through a list each one being called card in this case -->
    <ion-card *ngIf="card.Driving" tappable (click)="goToRoute(card)"  text-wrap [style.background-color]="card.colour"><!--These are if the card is a driving type and wil call the normal routing function -->
      <ion-card-content >
        <ion-grid >
          <ion-row>
            <ion-col col-9 >
              <p style="font-size: larger;color: white;"><b>{{card.name}}</b></p>
          </ion-col>
          <ion-col>
           <img src= "./assets/Travel/Ambulance.png"> 
          </ion-col>
          </ion-row>
          <ion-row >
          <p id="cardinfo" style="font-size: small;color: white;">
            Patient Pickup to Destination: <b>{{card.TimeWithMultChar}}</b></p>
            <br>
          </ion-row>
          <ion-row >
            <p style="font-size: small;color: white;">Fastest Total Time Achieved<br>Call to Definitive care:<br>
            <span style="font-size: medium;"><b>XX:XX (n=X)</b></span></p>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="card.Helipad" tappable (click)="ComplexRoute(card)" text-wrap [style.background-color]="card.colour"><!--These are cards with helicoper routes and will display the helicoper icon and call the complexroute function -->
      <ion-card-content>
        <ion-grid >
          <ion-row>
            <ion-col col-9 >
              <p style="font-size: larger;color: white;"><b>{{card.name}}</b></p>
          </ion-col>
          <ion-col>
           <img src= "./assets/Travel/Helecopter.png"> 
          </ion-col>
          </ion-row>
          <ion-row >
          <p id="cardinfo" style="font-size: small;color: white;">
            Patient Pickup to Destination: <b>{{card.TimeWithMultChar}}</b></p>
            <br>
          </ion-row>
          <ion-row>
            <p style="font-size: small;color: white;">Fastest Total Time Achieved<br>Call to Definitive care:<br>
            <span style="font-size: medium;"><b>XX:XX (n=X)</b></span></p>
          </ion-row>
        </ion-grid>  
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="card.Airport" tappable (click)="ComplexRoute(card)" text-wrap [style.background-color]="card.colour"><!--These are cards that have airplane routes and will show the icon and call the complexroute function  -->
      <ion-card-content>
        <ion-grid >
          <ion-row>
            <ion-col col-9 >
              <p style="font-size: larger;color: white;"><b>{{card.name}}</b></p>
          </ion-col>
          <ion-col>
           <img src= "./assets/Travel/Airplane.png"> 
          </ion-col>
          </ion-row>
          <ion-row >
          <p id="cardinfo" style="font-size: small;color: white;">
            Patient Pickup to Destination: <b>{{card.TimeWithMultChar}}</b></p>
            <br>
          </ion-row>
          <ion-row>
            <p style="font-size: small;color: white;">Fastest Total Time Achieved<br>Call to Definitive care:<br>
            <span style="font-size: medium;"><b>XX:XX (n=X)</b></span></p>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-item>
</ion-list>
</ion-scroll>
</div>

<div class="treatment-button" ><!--This is the view treatment options button which will bring you to the tPA and EVT route treatment page -->
  <h2 id="or" style="text-align: center;font-size: large;color: #006bb6;">OR</h2>
      <button id="moreTreatments" ion-button block on-click="GoToTreatment()" round>View Treatment Options</button>
         <!--This is the weather display which has the data stored in the data provider and makes use of the ionic {{}} access to date types along with a data pipeline to better format the numbers -->
         <ion-grid style="background-color: #006bb6;">
          <ion-row>
            <ion-col col-auto>
              <p id="weather" style="background-color:#006bb6;color: white;font-size: large;padding-top: 35px;">Weather in<br><b>{{this.Data.city}}</b></p>
            </ion-col>
            <ion-col>
              <p style="font-size: x-large;color: white;padding-top: 35px;" text-center ><b>{{this.Data.origin_tempreal |number:'1.0-0'}}\u00B0C</b></p>
            </ion-col>
            <ion-col>
              <img src= {{this.Data.origin_icon}} style="vertical-align: middle; ">
            </ion-col>
          </ion-row>
        </ion-grid>
   </div>



</ion-content>