<ion-header>
  <ion-navbar color="steelblue2" text-center>
    <ion-title>
      Imaging Routes
    </ion-title>
  </ion-navbar>
  <components-timer></components-timer><!--The component timer which is present on each page apart from the last known well -->
</ion-header>



<ion-content no-bounce  id="Imaging">

  <h4 id="treatment-heading6" style="color:#000000;font-size: x-large;"><!--the header for the page with style specified  -->
 
   Routes to Imaging Capable Hospitals
  </h4>
  <spinner *ngIf="Spinner"></spinner><!--ngIF is a special ionic element that works like an if and only shows if true in this case if spinner is true it will show it -->
  <div class="card-scroll" *ngIf="show"><!--this is where the cards will be once show is set to true  -->
    <p style="background-color: yellow;" text-center>Click on the route option for next steps</p>
<div *ngIf="results"><!--if there are no results this will show the error message  -->
  <br><br>
  <p style="font-size: large;">{{display}}</p>
  
</div>
    <ion-scroll scrollY="true" style="height: 40vh;"><!--this is the actual card section which is allowed to scroll but I will need to revisit the height to have it work on more devices  -->
<ion-list justify-content-center align-items-center><!--the list of elements all put into the center -->
  <ion-item *ngFor="let card of cards"><!--ngFor is another ionic element that allows you to iterate through a list each one being called card in this case -->
    <ion-card *ngIf="card.Driving" tappable (click)="goToRoute(card)" text-wrap [style.background-color]="card.colour"><!--These are if the card is a driving type and wil call the normal routing function -->
      <ion-card-content>
        <ion-card-title>
        {{card.name}} <h1> <img src= "./assets/imgs/ambulance.png" style="float:right"></h1>
        </ion-card-title>
      <p id="cardinfo" >
          Distance: {{card.DistChar}} &nbsp;&nbsp;&nbsp;&nbsp; Time: {{card.TimeWithMultChar}} 
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="card.Helipad" tappable (click)="ComplexRoute(card)" text-wrap [style.background-color]="card.colour"><!--These are cards with helicoper routes and will display the helicoper icon and call the complexroute function -->
      <ion-card-content>
        <ion-card-title>
        {{card.name}} <h1> <img src= "./assets/imgs/Helicopter.png" style="float:right"></h1>
        </ion-card-title>
      <p id="cardinfo" >
          Distance: {{card.DistChar}} &nbsp;&nbsp;&nbsp;&nbsp; Time: {{card.TimeWithMultChar}} 
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="card.Airport" tappable (click)="ComplexRoute(card)" text-wrap [style.background-color]="card.colour"><!--These are cards that have airplane routes and will show the icon and call the complexroute function  -->
      <ion-card-content>
        <ion-card-title>
        {{card.name}} <h1> <img src= "./assets/imgs/Airplane.png" style="float:right"></h1>
        </ion-card-title>
      <p id="cardinfo" >
          Distance: {{card.DistChar}} &nbsp;&nbsp;&nbsp;&nbsp; Time: {{card.TimeWithMultChar}} 
      </ion-card-content>
    </ion-card>
  </ion-item>
</ion-list>
</ion-scroll>
</div>

<div class="treatment-button"><!--This is the view treatment options button which will bring you to the tPA and EVT route treatment page -->
  <h2 id="or" style="text-align: center;font-size: large;">OR</h2>
      <button id="moreTreatments" ion-button color="steelblue1" block on-click="GoToTreatment()">View Treatment Options</button>
         <!--This is the weather display which has the data stored in the data provider and makes use of the ionic {{}} access to date types along with a data pipeline to better format the numbers -->
  <p id="weather" style="background-color:powderblue;">Weather in {{this.Data.city}}: <b>{{this.Data.origin_tempreal |number:'.0'}} \u00B0C</b>
    <img src= {{this.Data.origin_icon}} style="vertical-align: middle;"></p>
   </div>



</ion-content>