<ion-header>
  <ion-navbar color="steelblue2">
    <ion-buttons start>
       <button ion-button icon-only menuToggle>
         <ion-icon name="menu"></ion-icon>
       </button>
      </ion-buttons>
    <ion-title>
      Patient Location
    </ion-title>
  </ion-navbar>



</ion-header>
<ion-content padding id="page1">
  <button type ="button" id="patientLocation-button1"  ion-button color="steelblue1"  fill="outline" block on-click="goToLastKnownWell()" block on-click="setCurrentPosition()"> 
  CHOOSE YOUR LOCATION
  </button>
<p style="text-align: center;">OR</p>
  <ion-input type="text" [(ngModel)]="searchterm" (keyup)="search($event)" autocapitalize="on" class="input" placeholder="Enter City" id="txtHome" required style = "border: solid black 3px;"></ion-input>
  <div *ngFor="let health_centres of Medical_Centers">
<!--Tried the height to fix it probably does nothing and no screen size is that small-->
    <button type ="button" height="fit-content" style="border: solid black 1px;" id="patientLocation-button1" text-wrap no-margin ion-button color="steelblue1"  fill="outline"  block on-click="getLatLng(health_centres.name)" block on-click="goToLastKnownWell(health_centres.bTelestroke)" >
      <!--{{health_centres.address}}-->
      <p>
        {{health_centres.name}}:  {{health_centres.city}}
        
      </p>
    </button>
  </div>
  <div *ngIf="Medical_Centers?.length < 1">
    <hr>
    <p>
      No results
    </p>
  </div>

  <div class="spacer" style="height:100px;" id="patientLocation-spacer6"></div>
  
</ion-content>

