<ion-header>
  <ion-navbar color="steelblue2">
    <ion-title>
      Treatment Options
    </ion-title>
  </ion-navbar>
  <components-timer></components-timer>
</ion-header>


<ion-content no-bounce id="Treatment-Page">
 <!--the weather information of the origin location  -->
  <p id="weather" style="background-color:powderblue;">Weather in {{this.Data.city}}: <b>{{this.Data.origin_tempreal |number:'.0'}} \u00B0C</b>
    <img src= {{this.Data.origin_icon}} style="vertical-align: middle;"></p>

  <h4 id="treatment-heading6" style="color:#000000;font-size: x-large;">
    Routes To tPA Capable Hospitals
  </h4>
  <spinner *ngIf="tpaSpinner"></spinner> <!--The spinner component which will show until results are returned  -->

  <div class="card-scroll" *ngIf="tpashow"> <!--The div that will not be shown until tpashow is set to true -->
    <div *ngIf="results"> <!--If there are no results display the message -->
      <br><br>
      <p style="font-size: large;">{{display}}</p>
      
    </div>


    <ion-scroll scrollY="true" style="height: 30vh;"> <!--This is the section for the tpa results  -->
  <ion-list justify-content-center align-items-center>
    <ion-item *ngFor="let card of cards"> <!--iteratie through all cards  -->
      <ion-card *ngIf="card.Driving" tappable (click)="goToRoute(card)" text-wrap [style.background-color]="card.colour"> <!--if it is a driving route show the correct icon and call the right display function  -->
        <ion-card-content>
          <ion-card-title>
          {{card.name}} <h1> <img src= "./assets/imgs/ambulance.png" style="float:right"></h1>
          </ion-card-title>
        <p id="cardinfo" >
            Distance: {{card.DistChar}} &nbsp;&nbsp;&nbsp;&nbsp; Time: {{card.TimeWithMultChar}} 
        </ion-card-content>
      </ion-card>
      <ion-card *ngIf="card.Helipad" tappable (click)="ComplexRoute(card)" text-wrap [style.background-color]="card.colour"> <!--if it is a helicoper route show the correct icon and call the complec route function  -->
        <ion-card-content>
          <ion-card-title>
          {{card.name}} <h1> <img src= "./assets/imgs/Helicopter.png" style="float:right"></h1>
          </ion-card-title>
        <p id="cardinfo" >
            Distance: {{card.DistChar}} &nbsp;&nbsp;&nbsp;&nbsp; Time: {{card.TimeWithMultChar}} 
        </ion-card-content>
      </ion-card>
      <ion-card *ngIf="card.Airport" tappable (click)="ComplexRoute(card)" text-wrap [style.background-color]="card.colour"> <!--if it is an airplane route show the correct icon and call the complex route function -->
        <ion-card-content>
          <ion-card-title>
          {{card.name}} <h1> <img src= "./assets/imgs/Airplane.png" style="float:right"></h1>
          </ion-card-title>
        <p id="cardinfo" >
            Distance: {{card.DistChar}} &nbsp;&nbsp;&nbsp;&nbsp; Time: {{card.TimeWithMultChar}} 
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
  </ion-scroll>
  </div>
   <!--The end of the tpa section and start of evt section  -->
<br><br>
  <h4 id="treatment-heading7" style="color:#000000;font-size: x-large;">
    Routes To EVT Capable Hospitals 
  </h4>
  <spinner *ngIf="evtSpinner"></spinner> <!--The spinner which stops after evt routes are returned -->
  <div class="card-scroll" *ngIf="evtshow"> <!--The div which hold the cards and will be shown if it is set to true  -->
  <ion-scroll scrollY="true" style="height: 30vh;">
    <div *ngIf="evtEmpty"><br><br><br><p style="font-size: large;">{{message}}</p></div> <!--if this section is empty it will display the message -->
    <ion-list justify-content-center align-items-center>
      <ion-item *ngFor="let card of EvtCards"> <!--goes through all of the evt routes as cards  -->
        <ion-card *ngIf="card.Driving" tappable (click)="goToRoute(card)" text-wrap [style.background-color]="card.colour"> <!--for driving routes to show the right icon and call the nomral route  -->
          <ion-card-content>
            <ion-card-title>
            {{card.name}} <h1> <img src= "./assets/imgs/ambulance.png" style="float:right"></h1>
            </ion-card-title>
          <p id="cardinfo" >
              Distance: {{card.DistChar}} &nbsp;&nbsp;&nbsp;&nbsp; Time: {{card.TimeWithMultChar}} 
          </ion-card-content>
        </ion-card>
        <ion-card *ngIf="card.Helipad" tappable (click)="ComplexRoute(card)" text-wrap [style.background-color]="card.colour"> <!--for helicoper routes to show the right icon and call the complex route function  -->
          <ion-card-content>
            <ion-card-title>
            {{card.name}} <h1> <img src= "./assets/imgs/Helicopter.png" style="float:right"></h1>
            </ion-card-title>
          <p id="cardinfo" >
              Distance: {{card.DistChar}} &nbsp;&nbsp;&nbsp;&nbsp; Time: {{card.TimeWithMultChar}} 
          </ion-card-content>
        </ion-card>
        <ion-card *ngIf="card.Airport" tappable (click)="ComplexRoute(card)" text-wrap [style.background-color]="card.colour"> <!--for airplane routes to show the correct icon and call the complex route function  -->
          <ion-card-content>
            <ion-card-title>
            {{card.name}} <h1> <img src= "./assets/imgs/Airplane.png" style="float:right"></h1>
            </ion-card-title>
          <p id="cardinfo" >
              Distance: {{card.DistChar}} &nbsp;&nbsp;&nbsp;&nbsp; Time: {{card.TimeWithMultChar}} 
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-list>
    </ion-scroll>
    </div>
     <!--end of the page -->
</ion-content>
